 
<div class="center hero-unit">
 <h1>welcome to the Sampler App</h1>
 
  <h2>This is the home page for the Sampler App.

  Listen to some 
 <a href="https://www.youtube.com/watch?v=r16ndBiHC-0">good music.</a>
 </h2>

<%= link_to "Sign up NOW!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("mr_white.png", alt: "Mr.White"), "http://stylesaveus.com/wp-content/uploads/2013/03/style-save-us-shark-in-suit.jpg" %>